<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive img-rounded hidden-xs" src="<%= @user.image_url %>" alt="">
    <h3><%= @user.full_name.blank? ? "Anonymous user" : @user.full_name  %></h3>
    <h3>Joined: <%= @user.created_at.strftime("%x") %></h3>
    <h3>Current City: <%= @user.current_city %></h3>
    <% if current_user == @user %>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-warning"%>
    <% end %>
  </div>
  <div class="col-sm-8">
    <% if @posts.empty? %>
      <h1><%= @user.full_name.blank? ? "Anonymous user" : @user.full_name  %> has posted no tips.</h1>
    <% else %>
      <% @posts.reverse_each do |post| %>
        <div class="post">
          <h1>
            <%= link_to post.title, city_post_path(post.city, post) %> <br>
            <small>posted in <%= link_to post.city.name, city_path(post.city) %> <%= time_ago_in_words(post.created_at)%> ago</small>
          </h1>

          <p><%= truncate(post.content, length: 1000) %></p>
          <% if current_user == post.user %>
            <%= link_to icon('pencil', class: "fa-3x"), edit_city_post_path(post.city, post) %>
            <%= link_to icon('trash-o', class: "fa-3x"), city_post_path(post.city, post), :data => {:confirm => "Are you sure you want to delete #{post.title}?"}, :method => 'delete' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
