<% if @posts.empty? %>
  <h1>There are no tips. <%= link_to "Add tip?", new_city_post_path(@city) %></h1>
<% else %>
  <% @posts.reverse_each do |post| %>
    <div class="row">
      <div class="col-sm-3 hidden-xs">
        <img src="<%= post.user.image_url %>" class="img-responsive img-rounded portrait" alt="">
      </div>
      <div class="col-sm-9">
        <h1>
          <%= link_to post.title, city_post_path(post.city, post) %> <br>
          <small>by <%=link_to post.user.full_name, user_path(post.user) %>, <%= time_ago_in_words(post.created_at)%> ago.</small>
        </h1>
        <p><%= truncate(post.content, length: 1000) %></p>
      </div>
    </div>
  <% end %>
<% end %>
